__pycache__/
*.pyc
.venv/
data/
*.db
*.db-shm
*.db-wal
.env
Backup/
deploy-snapshots/
app/static/posters/*
!app/static/posters/.gitkeep
app/static/uploads/*
!app/static/uploads/.gitkeep
app/static/profiles/*
!app/static/profiles/.gitkeep
app/static/avatars/*
!app/static/avatars/.gitkeep
